  body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: purple;
      }
  h1,h2,h3 ,ul,table{
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
		  
